.vscode/**
.vscode-test/**
src/**
scripts/**
esbuild.mjs
pnpm-lock.yaml
.pnpm-store/**
.vite-hooks/**
pnpm-workspace.yaml
*.tgz
*.zip
tsconfig.json
.gitignore
.jj/**
**/*.ts
.cache/
node_modules.tmp/
node_modules/
!node_modules/web-tree-sitter
